* {
	margin: 0;
	padding: 0;
}
body{
	overflow: hidden;
}
h2 {
	text-align: center;
	margin-top: 30px;
	font-size: 30px;
	letter-spacing: 5px;
	transition: 1s;
	cursor: pointer;
	color: #62c5ee;
}
h2:hover{
	letter-spacing: 10px;
	transform: scale(1.3);
}
.box {
	width: 400px;
	height: 610px;
	border: 1px solid #ccc;
	margin: 30px auto;
	padding: 0;
	overflow: hidden;
	font-size: 30px;
	font-weight: bold;
	position: relative;
	border-radius: 15px;
}

.box .gouge01 {
	float: left;
	width: 100px;
	height: 500px;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-align: center;
	line-height: 100px;
	border-right: 1px solid #ccc;
}

.box .gouge01:nth-last-child(1) {
	border: 0;
}

.box .gouge02 {
	background-color: rgba(0, 0, 0, 0.1);
	color: #5cc4ee;
}

.box .gouge01:nth-last-child(1) .gouge03 {
	background-color: rgba(0, 0, 0, 0.1);
	color: #5cc4ee;
}

.box .gouge01:nth-last-child(1) .gouge04 {
	line-height: 200px;
	background-color: lightskyblue;
	color: white;
}

.gouge01 .gouge02,
.gouge01 .gouge03 {
	border-bottom: 1px solid #ccc;
}

.gouge01 .gouge03:nth-last-child(1) {
	border-bottom: 0;
}
.content{
	width: 400px;
	height: 110px;
	text-align: right;
	line-height: 110px;
	font-size: 40px;
	padding: 0 27px 15px 0;
	box-sizing: border-box;
	overflow: hidden;
}
.gouge02,.gouge03,.gouge04{
	cursor: pointer;
}
span{
	position: absolute;
	top: 26px;
	right: 19px;
	color: #1d9cf9;
	font-weight: 100;
	font-size: 40px;
	opacity: 1;
}
